*,
*::before,
*::after{
    box-sizing: border-box;

}

:root{
    --ff-primary:'Source Sans Pro', sans-serif;
    --ff-secondary:'Source Code Pro', monospace;

    --ff-reg:300;
    --ff-bold:500;
    --ff-medi:400;
    --ff-extra-bold:600;

    --clr-primary:#154D46;
    --clr-secondary:#3498db;
    --clr-white:#FFFFFF;
    --clr-black:#211C1B;
    --clr-body:#f7e2c8;
    --clr-orange:#FF6827;

    --fs-h1: 4rem;
    --fs-h2:2.5rem;
    --fs-h3:1.25rem;
    --fs-body:1rem;

}
@media (min-width: 800px) {
    :root {
        --fs-h1: 4.5;
        --fs-h2: 2.75rem;
        --fs-h3: 1.75rem;
        --fs-h4: 1rem;
        --fs-body: 1.125rem;
    }
}

/* //General properties */

 body{
    margin: 0;
    padding: 0;
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    /* line-height: 1.5rem; */
    background: linear-gradient(180deg, #f7f3e9 0%, #fff8f0 100%);
    margin: 30px;


}
h1,h2,h3{
    margin: 0;
    line-height: 1rem;
}
h1{
    font-size: var(--fs-h1);
    color: var(--clr-primary);
}

h2{
    font-size: var(--fs-h2);
    
}
img{
    max-width: 100%;
    display: block;
}

.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
 
}

.btn{
    border: none;
    border-radius: 40px;
    padding: 20px 30px;
    background-color: var(--clr-orange);
    color: var(--clr-white);
    text-transform: capitalize;
}
.log{
    text-transform: capitalize;
    font-size: var(--fs-h3);
    color: var(--clr-primary);
    font-family: "Satisfy", cursive;

}
nav {
    position: relative;
    z-index: 100;
}

.nav__list{
    display: flex;
    list-style: none;
    font-size: 0.87rem;
    font-family: "onest";
     
   
}


nav a{
    text-transform: uppercase;
    text-decoration: none;
     margin: 20px;
     color: var(--clr-black);
     font-weight:var(--ff-bold);
     font-size: var(--fs-h4);
}

nav a:hover{
    color: var(--clr-primary);
    cursor: pointer;
}
.nav__icons{
    display: flex;
    margin-left: 500px;
    list-style: none;
    
}

.nav__icons__item i {
  font-size: 16px; 
}
.showcase__container{
 width: 100%;
 animation-name: showCase;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}
.showcase__intro__image {
width: 100%;
position: relative;
top: -80px;
left: -100px;
 animation-name: image;
  animation-duration: 3s;
  animation-fill-mode: backwards;
}
.showcase__intro__image img{
    max-width: 100%;
    height: auto;
    object-fit: cover;
}
.showcase__intro-title{
    font-weight: var(--ff-medi);
    font-size:75px;
    letter-spacing: 8px;
    font-family:'Playfair Display', serif;
    line-height: 82px;
    text-transform: uppercase; 
    text-align: left;
    z-index: 1000;
    
}
.showcase__intro--description{
    color: #8B8B8B;
    font-family: "onest";

}

@keyframes showCase {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

/* Move the image from right to left */
@keyframes image {
  0% {
    opacity: 0;
    transform: translateX(100%); /* Start off-screen from the right */
  }
  100% {
    opacity: 1;
    transform: translateX(0); /* Ends in its original position */
  }
}

.fa-arrow-right{
    padding-left: 5px;

}